# PYTHON CodingBat

### Warmup 1

####sleep_in

The parameter weekday is True if it is a weekday, and the parameter vacation is True if we are on vacation. We sleep in if it is not a weekday or we're on vacation. Return True if we sleep in.

sleep_in(False, False) → True
sleep_in(True, False) → False
sleep_in(False, True) → True

In [ ]:
def sleep_in(weekday, vacation):
  
  if not weekday or vacation:
    return True
  else:
    return False

####diff21

Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21.

diff21(19) → 2
diff21(10) → 11
diff21(21) → 0

In [ ]:
def diff21(n):
  
  d = abs(21-n)
  if n > 21:
    d += d
  return d

####near_hundred

Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.

near_hundred(93) → True
near_hundred(90) → True
near_hundred(89) → False

In [ ]:
def near_hundred(n):
  
 if n in range(90,111) or n in range(190,211):
  return True
 else:
  return False

####missing_char

Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).

missing_char('kitten', 1) → 'ktten'
missing_char('kitten', 0) → 'itten'
missing_char('kitten', 4) → 'kittn'

In [ ]:
def missing_char(str, n):
  return str[:n] + str[n+1:]

####monkey_trouble

We have two monkeys, a and b, and the parameters a_smile and b_smile indicate if each is smiling. We are in trouble if they are both smiling or if neither of them is smiling. Return True if we are in trouble.

monkey_trouble(True, True) → True
monkey_trouble(False, False) → True
monkey_trouble(True, False) → False

In [ ]:
def monkey_trouble(a_smile, b_smile):
  
  if a_smile == b_smile:
    return True
  else:
    return False

####parrot_trouble

We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.

parrot_trouble(True, 6) → True
parrot_trouble(True, 7) → False
parrot_trouble(False, 6) → False

In [ ]:
def parrot_trouble(talking, hour):
  
  if talking and not hour in range(7,21):
   return True
  else:
   return False

####pos_neg

Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative.

pos_neg(1, -1, False) → True
pos_neg(-1, 1, False) → True
pos_neg(-4, -5, True) → True

In [ ]:
def pos_neg(a, b, negative):
  
  if negative:
    if a + b <= -1:
      return True
    else:
      return False
  if a <= -1 and b >= 0 or b <= -1 and a >= 0:
    return True
  else:
    return False

####front_back

Given a string, return a new string where the first and last chars have been exchanged.

front_back('code') → 'eodc'
front_back('a') → 'a'
front_back('ab') → 'ba'

In [ ]:
def front_back(str):

 if len(str) <= 1:
  return str
 else:
  return str[-1:] + str[1:-1] + str[0:1]

####sum_double

Given two int values, return their sum. Unless the two values are the same, then return double their sum.

sum_double(1, 2) → 3
sum_double(3, 2) → 5
sum_double(2, 2) → 8

In [ ]:
def sum_double(a, b):
  
  s = a + b
  if a == b:
    s = s * 2
  return s

####makes10

Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.

makes10(9, 10) → True
makes10(9, 9) → False
makes10(1, 9) → True

In [ ]:
def makes10(a, b):
  
  if 10 in (a, b) or a + b == 10:
    return True
  else:
    return False

####not_string

Given a string, return a new string where "not " has been added to the front. However, if the string already begins with "not", return the string unchanged.

not_string('candy') → 'not candy'
not_string('x') → 'not x'
not_string('not bad') → 'not bad'

In [ ]:
def not_string(str):
  
  ikke = 'not'
  if str.startswith(ikke):
    return str
  else:
    return ikke + ' ' + str

####front3

Given a string, we'll say that the front is the first 3 chars of the string. If the string length is less than 3, the front is whatever is there. Return a new string which is 3 copies of the front.

front3('Java') → 'JavJavJav'
front3('Chocolate') → 'ChoChoCho'
front3('abc') → 'abcabcabc'

In [ ]:
def front3(str):
  
  front = str[0:3]
  return front + front + front

### Warmup 2

####string_times

Given a string and a non-negative int n, return a larger string that is n copies of the original string.

string_times('Hi', 2) → 'HiHi'
string_times('Hi', 3) → 'HiHiHi'
string_times('Hi', 1) → 'Hi'

In [ ]:
def string_times(str, n):
 
 res = ''
 for n in range(n):
   res += str 
 return res

####string_splosion

Given a non-empty string like "Code" return a string like "CCoCodCode".

string_splosion('Code') → 'CCoCodCode'
string_splosion('abc') → 'aababc'
string_splosion('ab') → 'aab'

In [ ]:
def string_splosion(str):
  
  n = len(str)
  x = 0
  res = ''
  for n in range(n):
    res += str[:x+1]
    x += 1
  return res

####array_front9

Given an array of ints, return True if one of the first 4 elements in the array is a 9. The array length may be less than 4.

array_front9([1, 2, 9, 3, 4]) → True
array_front9([1, 2, 3, 4, 9]) → False
array_front9([1, 2, 3, 4, 5]) → False

In [ ]:
def array_front9(nums):
  
  front = nums[0:4]
  finn = 9
  if finn in front:
    return True
  else:
    return False

####front_times

Given a string and a non-negative int n, we'll say that the front of the string is the first 3 chars, or whatever is there if the string is less than length 3. Return n copies of the front;

front_times('Chocolate', 2) → 'ChoCho'
front_times('Chocolate', 3) → 'ChoChoCho'
front_times('Abc', 3) → 'AbcAbcAbc'

In [ ]:
def front_times(str, n):
  
  front = str[0:3]
  res = ''
  for n in range(n):
    res  += front
  return res

####last2

Given a string, return the count of the number of times that a substring length 2 appears in the string and also as the last 2 chars of the string, so "hixxxhi" yields 1 (we won't count the end substring).

last2('hixxhi') → 1
last2('xaxxaxaxx') → 1
last2('axxxaaxx') → 2

In [ ]:
def last2(str):
  
  sub = str[-2:]
  res = str.count(sub) - 1
  a = str[-1:]
  b = str[-2:-1]
  abc = a + a + a 
  if a == b:
   res += str.count(abc)
  if str == '':
    return 0
    
  return res

####array123

Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.

array123([1, 1, 2, 3, 1]) → True
array123([1, 1, 2, 4, 1]) → False
array123([1, 1, 2, 1, 2, 3]) → True

In [ ]:
def array123(nums):
 
 x = 0
 tell = len(nums)
 finn = [1, 2, 3]
 sjekk = []
 
 for n in range(tell):
    sjekk = nums[x:x+3]
    x += 1
    
    if sjekk == finn:
      return True
 if sjekk != finn:
    return False

####string_bits

Given a string, return a new string made of every other char starting with the first, so "Hello" yields "Hlo".

string_bits('Hello') → 'Hlo'
string_bits('Hi') → 'H'
string_bits('Heeololeo') → 'Hello'

In [ ]:
def string_bits(str):
  return str[::2]

####array_count9

Given an array of ints, return the number of 9's in the array.

array_count9([1, 2, 9]) → 1
array_count9([1, 9, 9]) → 2
array_count9([1, 9, 9, 3, 9]) → 3

In [ ]:
def array_count9(nums):
  return nums.count(9)

####string_match

Given 2 strings, a and b, return the number of the positions where they contain the same length 2 substring. So "xxcaazz" and "xxbaaz" yields 3, since the "xx", "aa", and "az" substrings appear in the same place in both strings.

string_match('xxcaazz', 'xxbaaz') → 3
string_match('abc', 'abc') → 2
string_match('abc', 'axc') → 0

In [ ]:
def string_match(a, b):
  
  res = 0
  for x in range(len(a)-1):
    sub = a[x:x+2]
    subb = b[x:x+2]
    if sub == subb:
      res += 1
  
  return res

### Logic 1

####cigar_party

When squirrels get together for a party, they like to have cigars. A squirrel party is successful when the number of cigars is between 40 and 60, inclusive. Unless it is the weekend, in which case there is no upper bound on the number of cigars. Return True if the party with the given values is successful, or False otherwise.

cigar_party(30, False) → False
cigar_party(50, False) → True
cigar_party(70, True) → True

In [ ]:
def cigar_party(cigars, is_weekend):
  
  if cigars >= 40 and is_weekend:
    return True
  if cigars in range(40,61):
   return True
  else:
   return False

####love6

The number 6 is a truly great number. Given two int values, a and b, return True if either one is 6. Or if their sum or difference is 6. Note: the function abs(num) computes the absolute value of a number.

love6(6, 4) → True
love6(4, 5) → False
love6(1, 5) → True

In [ ]:
def love6(a, b):
  
  s = a + b
  d = abs(a-b)
  l = [a,b,s,d]
  finn = 6
  
  if finn in l:
    return True
  else:
    return False

####date_fashion

You and your date are trying to get a table at a restaurant. The parameter "you" is the stylishness of your clothes, in the range 0..10, and "date" is the stylishness of your date's clothes. The result getting the table is encoded as an int value with 0=no, 1=maybe, 2=yes. If either of you is very stylish, 8 or more, then the result is 2 (yes). With the exception that if either of you has style of 2 or less, then the result is 0 (no). Otherwise the result is 1 (maybe).

date_fashion(5, 10) → 2
date_fashion(5, 2) → 0
date_fashion(5, 5) → 1

In [ ]:
def date_fashion(you, date):
  
  if you <= 2 or date <= 2:
    return 0
  elif you >= 8 or date >= 8:
    return 2
  else:
    return 1

####sorta_sum

Given 2 ints, a and b, return their sum. However, sums in the range 10..19 inclusive, are forbidden, so in that case just return 20.

sorta_sum(3, 4) → 7
sorta_sum(9, 4) → 20
sorta_sum(10, 11) → 21

In [ ]:
def sorta_sum(a, b):
  
  s = a + b
  if s in range(10,20):
    return 20
  else:
    return s

####int1to10

Given a number n, return True if n is in the range 1..10, inclusive. Unless outside_mode is True, in which case return True if the number is less or equal to 1, or greater or equal to 10.

in1to10(5, False) → True
in1to10(11, False) → False
in1to10(11, True) → True

In [ ]:
def in1to10(n, outside_mode):
  
  if n in range(1,11) and not outside_mode:
    return True
  if not n in range(2,10) and outside_mode:
    return True
  else:
    return False

####squirrel_play

The squirrels in Palo Alto spend most of the day playing. In particular, they play if the temperature is between 60 and 90 (inclusive). Unless it is summer, then the upper limit is 100 instead of 90. Given an int temperature and a boolean is_summer, return True if the squirrels play and False otherwise.

squirrel_play(70, False) → True
squirrel_play(95, False) → False
squirrel_play(95, True) → True

In [ ]:
def squirrel_play(temp, is_summer):
 
  if temp in range(60,91):
    return True
  if temp in range(60,101) and is_summer:
    return True
  else:
    return False

####alarm_clock

Given a day of the week encoded as 0=Sun, 1=Mon, 2=Tue, ...6=Sat, and a boolean indicating if we are on vacation, return a string of the form "7:00" indicating when the alarm clock should ring. Weekdays, the alarm should be "7:00" and on the weekend it should be "10:00". Unless we are on vacation -- then on weekdays it should be "10:00" and weekends it should be "off".

alarm_clock(1, False) → '7:00'
alarm_clock(5, False) → '7:00'
alarm_clock(0, False) → '10:00'

In [ ]:
def alarm_clock(day, vacation):
  
  tidlig = '7:00'
  sent = '10:00'
  off = 'off'
  uke = [1,2,3,4,5]
  
  if vacation:
    if day in uke:
      return sent
    else:
      return off
  if not vacation:
    if day in uke:
      return tidlig
    else:
      return sent

####near_ten

Given a non-negative number "num", return True if num is within 2 of a multiple of 10. Note: (a % b) is the remainder of dividing a by b, so (7 % 5) is 2. See also: Introduction to Mod

near_ten(12) → True
near_ten(17) → False
near_ten(19) → True

In [ ]:
def near_ten(num):
  
  if (num % 10) not in range(3,8):
    return True
  else:
    return False

####caught_speeding

You are driving a little too fast, and a police officer stops you. Write code to compute the result, encoded as an int value: 0=no ticket, 1=small ticket, 2=big ticket. If speed is 60 or less, the result is 0. If speed is between 61 and 80 inclusive, the result is 1. If speed is 81 or more, the result is 2. Unless it is your birthday -- on that day, your speed can be 5 higher in all cases.


caught_speeding(60, False) → 0
caught_speeding(65, False) → 1
caught_speeding(65, True) → 0

In [ ]:
def caught_speeding(speed, is_birthday):
  
  if is_birthday:
    speed = speed - 5
  if speed in range(61,81):
    return 1
  if speed >= 81:
    return 2
  else:
    return 0

### Logic 2

####making_bricks

make_bricks(3, 1, 8) → True 
make_bricks(3, 1, 9) → False 
make_bricks(3, 2, 10) → True

In [ ]:

def make_bricks(small, big, goal):
  
  if not big*5 + small >= goal:
    return False
    
  if int(goal/5)*5 + small < goal:
    return False
    
  else:
    return True

####make_chocolate

make_chocolate(4, 1, 9) → 4
make_chocolate(4, 1, 10) → -1
make_chocolate(4, 1, 7) → 2

In [ ]:
def make_chocolate(small, big, goal):
  
  if not big*5 + small >= goal or int(goal/5)*5 + small < goal:
    return -1
    
  if int(goal/5) > big:
   return goal - (big*5)
    
  else:
    return goal - int(goal/5)*5

####lucky_sum

Given 3 int values, a b c, return their sum. However, if one of the values is 13 then it does not count towards the sum and values to its right do not count. So for example, if b is 13, then both b and c do not count.
lucky_sum(1, 2, 3) → 6
lucky_sum(1, 2, 13) → 3
lucky_sum(1, 13, 3) → 1

In [ ]:
def lucky_sum(a, b, c):
  
  if a == 13:
    a = 0 
    b = 0
    c = 0
  if b == 13:
    b = 0
    c = 0
  if c == 13:
    c = 0
 
  return a + b + c

####no_teen_sum 

Given 3 int values, a b c, return their sum. However, if any of the values is a teen -- in the range 13..19 inclusive -- then that value counts as 0, except 15 and 16 do not count as a teens. Write a separate helper "def fix_teen(n):"that takes in an int value and returns that value fixed for the teen rule. In this way, you avoid repeating the teen code 3 times (i.e. "decomposition"). Define the helper below and at the same indent level as the main no_teen_sum().

no_teen_sum(1, 2, 3) → 6
no_teen_sum(2, 13, 1) → 3
no_teen_sum(2, 1, 14) → 3

In [ ]:
def no_teen_sum(a, b, c):
  return fix_teen(a) + fix_teen(b) + fix_teen(c)

def fix_teen(n):
 if n in {15,16}:
   return n
 elif n in range(13,20):
   return 0
 else:
   return n

####lone_sum 

Given 3 int values, a b c, return their sum. However, if one of the values is the same as another of the values, it does not count towards the sum.

lone_sum(1, 2, 3) → 6
lone_sum(3, 2, 3) → 2
lone_sum(3, 3, 3) → 0

In [ ]:
def lone_sum(a, b, c):
  tot = a + b + c
  
  if a == b or a == c:
    tot -= a
  if b == c or b == a:
    tot -= b
  if c == a or c == b:
    tot -= c
    
  return tot

####close_far

Given three ints, a b c, return True if one of b or c is "close" (differing from a by at most 1), while the other is "far", differing from both other values by 2 or more. Note: abs(num) computes the absolute value of a number.

close_far(1, 2, 10) → True
close_far(1, 2, 3) → False
close_far(4, 1, 3) → True

In [ ]:
def close_far(a, b, c):
  
  tall1 = abs(a - b)
  tall2 = abs(b - c)
  tall3 = abs(c - a)
  
  if abs(tall1) <= 1 and tall2 + tall3 >= 4:
    return True
  if abs(tall2) <= 1 and tall1 + tall3 >= 4:
    return True
  if abs(tall3) <= 1 and tall1 + tall2 >= 4:
    return True
  else:
    return False

####round_sum

For this problem, we'll round an int value up to the next multiple of 10 if its rightmost digit is 5 or more, so 15 rounds up to 20. Alternately, round down to the previous multiple of 10 if its rightmost digit is less than 5, so 12 rounds down to 10. Given 3 ints, a b c, return the sum of their rounded values. To avoid code repetition, write a separate helper "def round10(num):" and call it 3 times. Write the helper entirely below and at the same indent level as round_sum().


round_sum(16, 17, 18) → 60
round_sum(12, 13, 14) → 30
round_sum(6, 4, 4) → 10

### List 1

####first_last6

Given an array of ints, return True if 6 appears as either the first or last element in the array. The array will be length 1 or more.

first_last6([1, 2, 6]) → True
first_last6([6, 1, 2, 3]) → True
first_last6([13, 6, 1, 2, 3]) → False

In [ ]:
def first_last6(nums):
  
  if nums[0] == 6 or nums[-1] == 6:
    return True
  else:
    return False

####common_end

Given 2 arrays of ints, a and b, return True if they have the same first element or they have the same last element. Both arrays will be length 1 or more.

common_end([1, 2, 3], [7, 3]) → True
common_end([1, 2, 3], [7, 3, 2]) → False
common_end([1, 2, 3], [1, 3]) → True

In [ ]:
def common_end(a, b):
  
  if a[0] == b[0] or a[-1] == b[-1]:
    return True
  else:
    return False

####reverse3

Given an array of ints length 3, return a new array with the elements in reverse order, so {1, 2, 3} becomes {3, 2, 1}.

reverse3([1, 2, 3]) → [3, 2, 1]
reverse3([5, 11, 9]) → [9, 11, 5]
reverse3([7, 0, 0]) → [0, 0, 7]

In [ ]:
def reverse3(nums):
 
  nums.reverse()
  return nums

####middle_way

Given 2 int arrays, a and b, each length 3, return a new array length 2 containing their middle elements.

middle_way([1, 2, 3], [4, 5, 6]) → [2, 5]
middle_way([7, 7, 7], [3, 8, 0]) → [7, 8]
middle_way([5, 2, 9], [1, 4, 5]) → [2, 4]

In [ ]:
def middle_way(a, b):
  
  l = [a[1], b[1]]
  return l

####first_last

Given an array of ints, return True if the array is length 1 or more, and the first element and the last element are equal.

same_first_last([1, 2, 3]) → False
same_first_last([1, 2, 3, 1]) → True
same_first_last([1, 2, 1]) → True

In [ ]:
def same_first_last(nums):
  
  if len(nums) >= 1 and nums[0] == nums[-1]:
    return True
  else:
    return False

####sum3

Given an array of ints length 3, return the sum of all the elements.

sum3([1, 2, 3]) → 6
sum3([5, 11, 2]) → 18
sum3([7, 0, 0]) → 7

In [ ]:
def sum3(nums):
  return sum(nums)

####max_end3

Given an array of ints length 3, figure out which is larger, the first or last element in the array, and set all the other elements to be that value. Return the changed array.

max_end3([1, 2, 3]) → [3, 3, 3]
max_end3([11, 5, 9]) → [11, 11, 11]
max_end3([2, 11, 3]) → [3, 3, 3]

In [ ]:
def max_end3(nums):
  
  l = []
  x = max(nums[0],nums[2])
  for n in nums:
    l.append(x)
  return l

####make_ends

Given an array of ints, return a new array length 2 containing the first and last elements from the original array. The original array will be length 1 or more.

make_ends([1, 2, 3]) → [1, 3]
make_ends([1, 2, 3, 4]) → [1, 4]
make_ends([7, 4, 6, 2]) → [7, 2]

In [ ]:
def make_ends(nums):
  
  ny = [nums[0], nums[-1]]
  return ny

####make_pi

Return an int array length 3 containing the first 3 digits of pi, {3, 1, 4}.

make_pi() → [3, 1, 4]

In [ ]:
def make_pi():
  return [3,1,4]

####rotate_left3

Given an array of ints length 3, return an array with the elements "rotated left" so {1, 2, 3} yields {2, 3, 1}.

rotate_left3([1, 2, 3]) → [2, 3, 1]
rotate_left3([5, 11, 9]) → [11, 9, 5]
rotate_left3([7, 0, 0]) → [0, 0, 7]

In [ ]:
def rotate_left3(nums):
  
  l = [nums[1], nums[2], nums[0]]
  return l

####sum2

Given an array of ints, return the sum of the first 2 elements in the array. If the array length is less than 2, just sum up the elements that exist, returning 0 if the array is length 0.

sum2([1, 2, 3]) → 3
sum2([1, 1]) → 2
sum2([1, 1, 1, 1]) → 2

In [ ]:
def sum2(nums):
  
  if len(nums) >= 2:
    s = nums[0] + nums[1]
    return s
  else:
    return sum(nums)

####has23

Given an int array length 2, return True if it contains a 2 or a 3.

has23([2, 5]) → True
has23([4, 3]) → True
has23([4, 5]) → False

In [ ]:
def has23(nums):
  
  if 2 in nums or 3 in nums:
    return True
  else:
    return False

### List 2

####has22 

Given an array of ints, return True if the array contains a 2 next to a 2 somewhere.
has22([1, 2, 2]) → True
has22([1, 2, 1, 2]) → False
has22([2, 1, 2]) → False

In [ ]:
def has22(nums):

  finn = "2, 2"
  hehe = str(nums)
   
  if finn in hehe:
    return True
  else:
    return False

####sum67

Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 7 (every 6 will be followed by at least one 7). Return 0 for no numbers.

sum67([1, 2, 2]) → 5
sum67([1, 2, 2, 6, 99, 99, 7]) → 5
sum67([1, 1, 6, 7, 2]) → 4

In [ ]:
def sum67(nums):
    
 tot = 0
 x = 1
 for n in nums:
    if n == 6:
      x = 0
    tot += n * x  
    if n == 7:
      x = 1
 return  tot

####big_diff

Given an array length 1 or more of ints, return the difference between the largest and smallest values in the array. Note: the built-in min(v1, v2) and max(v1, v2) functions return the smaller or larger of two values.

big_diff([10, 3, 5, 6]) → 7
big_diff([7, 2, 10, 9]) → 8
big_diff([2, 10, 7, 2]) → 8

In [ ]:
def big_diff(nums):
  
 tall1 = min(nums)
 tall2 = max(nums)

 diff = tall2 - tall1
 
 return diff

####sum13

Return the sum of the numbers in the array, returning 0 for an empty array. Except the number 13 is very unlucky, so it does not count and numbers that come immediately after a 13 also do not count.

sum13([1, 2, 2, 1]) → 6
sum13([1, 1]) → 2
sum13([1, 2, 2, 1, 13]) → 6

In [ ]:
def sum13(nums):
  
  tot = 0
  x = 1
  
  for n in nums:
    if n == 13:
      x = 0
    tot += n * x  #plassering avgjørende. Løsning er anvendt error
    if n != 13:
      x = 1
  return tot

####centered_average

Return the "centered" average of an array of ints, which we'll say is the mean average of the values, except ignoring the largest and smallest values in the array. If there are multiple copies of the smallest value, ignore just one copy, and likewise for the largest value. Use int division to produce the final average. You may assume that the array is length 3 or more.

centered_average([1, 2, 3, 4, 100]) → 3
centered_average([1, 1, 5, 5, 10, 8, 7]) → 5
centered_average([-10, -4, -2, -4, -2, 0]) → -3

In [ ]:
def centered_average(nums):
  
  tall1 = min(nums)
  tall2 = max(nums)
  antall = len(nums)
  tot = sum(nums)
  fikstot = tot - tall1 - tall2
  snitt = fikstot / (antall - 2)
  
  return snitt

####count_evens

Return the number of even ints in the given array. Note: the % "mod" operator computes the remainder, e.g. 5 % 2 is 1.

count_evens([2, 1, 2, 3, 4]) → 3
count_evens([2, 2, 0]) → 3
count_evens([1, 3, 5]) → 0

In [ ]:
def count_evens(nums):
  
 tell = 0
 for n in nums:
   if n % 2 == 0:
     tell += 1
     
 return tell

### string 1

####hello_name

Given a string name, e.g. "Bob", return a greeting of the form "Hello Bob!".

hello_name('Bob') → 'Hello Bob!'
hello_name('Alice') → 'Hello Alice!'
hello_name('X') → 'Hello X!'

In [ ]:
def hello_name(name):
  return 'Hello ' + name + '!'

####make_out_word

Given an "out" string length 4, such as "<<>>", and a word, return a new string where the word is in the middle of the out string, e.g. "<<word>>".

make_out_word('<<>>', 'Yay') → '<<Yay>>'
make_out_word('<<>>', 'WooHoo') → '<<WooHoo>>'
make_out_word('[[]]', 'word') → '[[word]]'

In [ ]:
def make_out_word(out, word):
  
  o1 = out[0:2] + word + out[2:4]
  return o1

####first_half

Given a string of even length, return the first half. So the string "WooHoo" yields "Woo".

first_half('WooHoo') → 'Woo'
first_half('HelloThere') → 'Hello'
first_half('abcdef') → 'abc'

In [ ]:
def first_half(str):
  
  hehe = len(str)
  x = hehe/2
  return str[0:x]

####non_start

Given 2 strings, return their concatenation, except omit the first char of each. The strings will be at least length 1.

non_start('Hello', 'There') → 'ellohere'
non_start('java', 'code') → 'avaode'
non_start('shotl', 'java') → 'hotlava'

In [ ]:
def non_start(a, b):
  
  a1 = a[1:]
  b1 = b[1:]
  return a1 + b1

####make_abba

Given two strings, a and b, return the result of putting them together in the order abba, e.g. "Hi" and "Bye" returns "HiByeByeHi".

make_abba('Hi', 'Bye') → 'HiByeByeHi'
make_abba('Yo', 'Alice') → 'YoAliceAliceYo'
make_abba('What', 'Up') → 'WhatUpUpWhat'

In [ ]:
def make_abba(a, b):
  
  return a+b+b+a

####extra_end

Given a string, return a new string made of 3 copies of the last 2 chars of the original string. The string length will be at least 2.

extra_end('Hello') → 'lololo'
extra_end('ab') → 'ababab'
extra_end('Hi') → 'HiHiHi'

In [ ]:
def extra_end(str):
  
  bit = str[-2] + str[-1]
  return bit + bit + bit

####without_end

Given a string, return a version without the first and last char, so "Hello" yields "ell". The string length will be at least 2.

without_end('Hello') → 'ell'
without_end('java') → 'av'
without_end('coding') → 'odin'

In [ ]:
def without_end(str):
  return str[1:-1]

####left2

Given a string, return a "rotated left 2" version where the first 2 chars are moved to the end. The string length will be at least 2.

left2('Hello') → 'lloHe'
left2('java') → 'vaja'
left2('Hi') → 'Hi'

In [ ]:
def left2(str):
  return str[2:] + str[:2]

####make_tags

The web is built with HTML strings like "<i>Yay</i>" which draws Yay as italic text. In this example, the "i" tag makes <i> and </i> which surround the word "Yay". Given tag and word strings, create the HTML string with tags around the word, e.g. "<i>Yay</i>".

make_tags('i', 'Yay') → '<i>Yay</i>'
make_tags('i', 'Hello') → '<i>Hello</i>'
make_tags('cite', 'Yay') → '<cite>Yay</cite>'

In [ ]:
def make_tags(tag, word):
  
  tg1 = '<'+tag+'>'
  tg2 = '</'+tag+'>'
  return tg1 + word + tg2

####first_two

Given a string, return the string made of its first two chars, so the String "Hello" yields "He". If the string is shorter than length 2, return whatever there is, so "X" yields "X", and the empty string "" yields the empty string "".

first_two('Hello') → 'He'
first_two('abcdefg') → 'ab'
first_two('ab') → 'ab'

In [ ]:
def first_two(str):

  if len(str) <= 1: 
    return str
  else:
    return str[:2] #trenger egt bare denne linja

####combo_string

Given 2 strings, a and b, return a string of the form short+long+short, with the shorter string on the outside and the longer string on the inside. The strings will not be the same length, but they may be empty (length 0).

combo_string('Hello', 'hi') → 'hiHellohi'
combo_string('hi', 'Hello') → 'hiHellohi'
combo_string('aaa', 'b') → 'baaab'

In [ ]:
def combo_string(a, b):
  
  aa = len(a)
  bb = len(b)
  
  if aa > bb and bb != 0:
    return b + a + b
  if bb > aa and aa != 0:
    return a + b + a
  else:
    return a + b

### String 2

####double_char

Given a string, return a string where for every char in the original, there are two chars.

double_char('The') → 'TThhee'
double_char('AAbb') → 'AAAAbbbb'
double_char('Hi-There') → 'HHii--TThheerree'

In [ ]:
def double_char(str):
  res = ''
  for element in str:
    res += element + element
  return res

####count_code

Return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count.

count_code('aaacodebbb') → 1
count_code('codexxcode') → 2
count_code('cozexxcope') → 2

In [ ]:
def count_hi(str):

  finn = 'hi'
  return str.count(finn)

####end_other

Given two strings, return True if either of the strings appears at the very end of the other string, ignoring upper/lower case differences (in other words, the computation should not be "case sensitive"). Note: s.lower() returns the lowercase version of a string.


end_other('Hiabc', 'abc') → True
end_other('AbC', 'HiaBc') → True
end_other('abc', 'abXabc') → True

In [ ]:
def end_other(a, b):
  
  a = a.lower()
  b = b.lower()
  
  if a.endswith(b):
    return True
  if b.endswith(a):
    return True
  else:
    return False

####cat_dog

Return True if the string "cat" and "dog" appear the same number of times in the given string.

cat_dog('catdog') → True
cat_dog('catcat') → False
cat_dog('1cat1cadodog') → True

In [ ]:
def cat_dog(str):
  
  cat = 'cat'
  dog = 'dog'
  c = str.count(cat)
  d = str.count(dog)
  
  if c == d:
   return True
  else:
   return False

####xyz_there

Return True if the given string contains an appearance of "xyz" where the xyz is not directly preceeded by a period (.). So "xxyz" counts but "x.xyz" does not.

xyz_there('abcxyz') → True
xyz_there('abc.xyz') → False
xyz_there('xyz.abc') → True

In [ ]:
def xyz_there(str):
  
  xyz = 'xyz'
  ikke = '.xyz'
  
  tell1 = str.count(xyz)
  tell2 = str.count(ikke)
  
  if tell1 > tell2:
    return True
  else:
    return False